#images
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico

#videos
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.webm
*.mpeg
*.mpg
*.3gp
*.m4v
*.ts
*.vob
*.rmvb
*.f4v
*.ogv
*.divx
*.xvid
*.h264
*.m2ts
*.mts

# Logs
logs
*.log

# OS
.DS_Store

# IDEs and editors
.project
.classpath
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#chase
.__pycache__/
*.py[cod]

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock