#images
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico

# Logs
logs
*.log

# OS
.DS_Store

# IDEs and editors
.project
.classpath
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#chase
.__pycache__/
*.py[cod]

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock